table, th, td{
border: 1px solid black;
border-collapse: collapse;
background-color: gold;
}
.grid{
    display:grid;
    grid-template-columns:auto auto auto;
    background-color: rgb(22, 72, 138);
    padding:20px;
    grid-template-rows: 100px 200px 300px 400px;
    gap: 5px 5px;
    
    align-content:center;
}
.pages{
    padding-top:100px;
}
.pages a {
    color: rgb(158, 148, 6);
    float: left;
    padding: 10px 10px;
    text-decoration: none;
}
body{
    background-color: rgb(12, 107, 248);
}
P{
    color: gold;
    font-size: 25px;

}
li{
    color: gold;
    font-size: 25px;
}
h1{
    color: gold;
    font-size: 45px;
}
.two{
    color:red;
    text-decoration:underline;
    font-size:20px;
    font-family: 'Kablammo', cursive;
}

    


.class1{
    display:inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    animation-name: eminem;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
@keyframes eminem {
    0% {left: 0px; top:0px;}
    25%{left: 1300px; top:0px;}
    50%{left:1300px; top:100px;} 
    75%{left:0px; top:95px;}
    100%{left:0px; top:0px;}
}